$icons: (
      sprite: (width: 75.9px, height: 195px, pngPath: '../img/sprite.png', svgPath: '../img/svg/sprite-svg.svg'),
    checkbox-off: (width: 22.259999999999998px, height: 19.24px, backgroundX: 0px, backgroundY: 0px),
    checkbox-on: (width: 22.259999999999998px, height: 19.24px, backgroundX: 0px, backgroundY: -32px),
    loading: (width: 63.900000000000006px, height: 58.3px, backgroundX: 0px, backgroundY: -64px),
    radio-off: (width: 17.97px, height: 17.97px, backgroundX: 0px, backgroundY: -135px),
    radio-on: (width: 17.97px, height: 17.97px, backgroundX: 0px, backgroundY: -165px),
);